body {
    background-color: rgb(25, 25, 25);
    color: white;
    font-family: Arial;
}

.main-paragraph {
    font-size: 30px;
    font-weight: bold;
}

.rock-move,
.paper-move,
.scissors-move {
    height: 50px;
}

.rock-button,
.paper-button,
.scissors-button {
    background-color: transparent;
    border: 3px solid white;
    width: 110px;
    height: 110px;
    border-radius: 55px;
    cursor: pointer;
}

.rock-button {
    margin-right: 1rem;
}

.paper-button {
    margin-right: 1rem;
}

.result-paragraph {
    font-size: 25px;
    font-weight: bold;
    margin-top: 4rem;
}

.score-css {
    margin-top: 5rem;
}

.reset-css,
.auto {
    background-color: white;
    border: none;
    font-size: 20px;
    padding: 10px 10px;
    cursor: pointer;
}